.players-move {
  transition: 0.3s ease;
  transition-delay: 0.2s;
}
.players-enter-active {
  transition: all 0.3s ease;
}
.players-leave-active {
  transition: all 0.3s ease;
}
.players-enter-from {
  opacity: 0;
  transform: translateX(-100vw);
}
.players-leave-to {
  opacity: 0;
  scale: 0.1;
}
.players-leave-active {
  position: absolute;
}
.no-transition,
.no-transition-leave-active,
.no-transition-enter-active,
.no-transition-enter-from,
.no-transition-leave-to {
  transition: all 0.1 ease;
  opacity: 0;
}
